node_modules/
.cache/
*.log
**/out/
**/reports/
**/public/*
!**/public/.gitkeep
!.gitkeep
*.mp4
*.mov
*.wav
*.aac
*.ass
*.srt
*.zip
*.jpg
*.jpeg
*.png
*.webp
*.mp3
.rclone.conf
.rclone/
.env
.env.*
!*.env.example
.DS_Store
